<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Изменение книги</title>
    <!-- Подключаем тот же CSS файл -->
    <link rel="stylesheet" href="{% static 'echo/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Изменить книгу</h1>
        <form method="post" class="book-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Сохранить</button>
            <a href="{% url 'echo:home' %}" class="btn btn-secondary">Назад</a>
        </form>
    </div>
</body>
</html>