<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <style>
        .pagination {
            text-align: center;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    {% if messages %}
    <div class="alert alert-success mt-3">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% if user.is_authenticated %}
        <div style="float: right;">
            Вы вошли как <strong>{{ user.username }}({{ user.role }})</strong><br>
            <a href="{% url 'profile'%}">Профиль</a>
            <a href="{% url 'logout' %}">Выйти</a>
            <a href="{% url 'cart' %}">Корзина</a>
        </div>
    {% else %}
        <div style="float: right;">
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </div>
    {% endif %}

    <h1>Список книг</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'echo:add_book' %}">Добавить новую книгу</a>
    {% endif %}

    <form method="get" action="">
        <label for="per_page">Книг на странице</label>
        <select name="per_page" id="per_page" onchange="this.form.submit()">
            <option value="1" {% if books.paginator.per_page == 1 %}selected{% endif %}>1</option>
            <option value="2" {% if books.paginator.per_page == 2 %}selected{% endif %}>2</option>
            <option value="3" {% if books.paginator.per_page == 3 %}selected{% endif %}>3</option>
            <option value="4" {% if books.paginator.per_page == 4 %}selected{% endif %}>4</option>
            <option value="5" {% if books.paginator.per_page == 5 %}selected{% endif %}>5</option>
        </select>
    </form>
    <ul>
        {% for book in books %}
            <li>
                <strong>{{ book.name_book }}</strong> ({{ book.price_book }}) <br>
                <small>{{ book.author_book }}</small> <br>
                {% if user.is_authenticated and user.is_admin %}
                    <a href="{% url 'echo:edit_book' book.id_book %}">Изменить информацию о книге</a> <br>
                    <a href="{% url 'echo:delete_book' book.id_book %}">Удалить книгу</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'add_to_cart' book.id_book %}">Добавить в корзину</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if books.has_previous %}
                <a href="?page=1&per_page={{ books.paginator.per_page}}">первая</a>
            {% endif %}

            {% for num in books.paginator.page_range %}
                {% if books.number == num %}
                    <span>{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}&per_page={{ books.paginator.per_page }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if books.has_next %}
                <a href="?page={{ books.paginator.num_pages }}&per_page={{ books.paginator.per_page }}">последняя</a>
            {% endif %}
        </span>
    </div>
</body>
</html>

